body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(109, 111, 88, 1) 0%,
    rgba(181, 210, 60, 1) 100%
  );
}
/* header {
  background-color: #ffffff;
} */
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.link-redirection {
  text-align: center;
  font-family: fantasy;
  font-weight: lighter;
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 8px groove #ffffff;
  border-radius: 17px;
}
.image-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ffffff;
}
hr {
  width: 70%;
  color: #ffffff;
  border: 10px solid #ffffff;
  margin-top: 40px;
  border-radius: 5px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
form {
  background-color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5rem;
  box-shadow: 7px 2px 36px 3px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 7px 2px 36px 3px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 7px 2px 36px 3px rgba(0, 0, 0, 0.75) inset;
  border-radius: 17px;
}
.input {
  width: 70%;
  height: 25px;
}
.Dropdown-control {
  cursor: pointer !important ;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(109, 111, 88, 1) 0%,
    rgb(207 226 136) 100%
  );
  border: 4px solid #ccc !important ;
}
fieldset {
  border: 3px solid #abab5a;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Dropdown-menu {
  cursor: pointer !important;
  background-color: #cacd52 !important;
  border: 7px solid #ccc !important;
}
.sendForm {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
  background: linear-gradient(to bottom, #90a672 5%, #c7e587 100%);
  background-color: #8fc745;
  border-radius: 8px;
  border: 2px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 16px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: -6px -2px 8px #2f6627;
}
.sendForm:hover {
  background: linear-gradient(to bottom, #c8e38d 5%, #8fc745 100%);
  background-color: #c8e38d;
}
.sendForm:active {
  position: relative;
  top: 1px;
}
