body {
  background-color: #84a443;
}
header {
  background-color: #ffffff;
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.link-redirection {
  text-align: center;
  font-family: fantasy;
  font-weight: lighter;
}
.logo {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 8px groove #84a443;
  border-radius: 17px;
}
.image-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
hr {
  width: 70%;
  color: #84a443;
  border: 10px solid #84a443;
  margin-top: 40px;
  border-radius: 5px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
form {
  background-color: #ffffff;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 8px groove #e2f5bd;
  border-radius: 17px;
}
.Dropdown-control {
  cursor: pointer !important ;
  background-color: #94cd52 !important ;
  border: 7px solid #ccc !important ;
}
fieldset {
  border: 3px solid #abab5a;
}
.Dropdown-menu {
  cursor: pointer !important;
  background-color: #94cd52 !important;
  border: 7px solid #ccc !important;
}
.sendForm {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
  background: linear-gradient(to bottom, #8fc745 5%, #c8e38d 100%);
  background-color: #8fc745;
  border-radius: 8px;
  border: 2px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 16px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: -6px -2px 8px #2f6627;
}
.sendForm:hover {
  background: linear-gradient(to bottom, #c8e38d 5%, #8fc745 100%);
  background-color: #c8e38d;
}
.sendForm:active {
  position: relative;
  top: 1px;
}
